div#top_recipe_search
{
	width:555px;
	padding:0px;
	margin:5px auto;	
	border:1px #ccc solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
  	border-radius:5px;
  	height:34px;
}

div#top_recipe_search input
{	
	font-size:18pt;
	color:#666;	
	background:#fff;
	border:none;
	margin:0px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:0px;
	padding-right:0px;
	width:450px;
}

div#top_recipe_search input#search_button
{	
	width:105px;
	height:34px;
	padding:0px;
	border:none;
	cursor:pointer;
	outline:0;
	margin:0px;
	vertical-align:top;
}

.recipe_share_box
{
	text-align:center;
	margin:8px 0px 5px 0px;
	border:1px #ccc solid;
	padding:5px;
	font-size:10pt;
	font-weight:bold;
}

.recipe_share_box a
{
	margin-right:4px;
}

#js_recipe_outer_body h4{
  	font-size:10pt;
  	text-transform: capitalize;
  	padding:5px 0px 0px 5px; 	
}


#js_recipe_outer_body ul li
{
	padding:5px 0px 0px 5px;	
}

#js_recipe_outer_body ol li
{
	padding:5px 0px 0px 5px;	
}
#js_recipe_outer_body #js_rating_holder_recipe {
	height: 60px;
    position: relative;
}
#layer_description iframe { width:928px !important; height:280px !important; }
#layer_short_description #short_description { width:600px !important; }
#js_recipe_outer_body .long_description {
	margin:0 0 15px;
}
.recipe-serves 
{
	color:#393939;
	padding:4px;
	font-size:11pt;
	margin:0;	
	font-weight:bold;
	margin:15px 0 15px 0;
}


ul.item_menu_bar
{
	margin:5px;	
}

ul.item_menu_bar li
{	
	display:inline;	
}

ul.item_menu_bar li a
{
	display:inline;		
	background:#fff;
	border:1px #EEEEEE solid;
	padding:2px 2px 2px 4px;	
	color:#54A4DE;
	text-decoration:none;
	font-weight:bold;
	font-size:9pt;
	margin-right:2px;
}

ul.item_menu_bar li a:hover
{
	background:#54A4DE;
	border:1px #EEEEEE solid;
	color:#fff;
	text-decoration:none;
}
/* Recipe Tabs CSS */
.recipe-tab {  
	border:1px #aaa solid;
	height:35px;
	padding-top:35px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.recipe-tab ul {  
	list-style:none outside none;
	margin-left:5px;
	
}
.recipe_share_box { border:none !important; }
ul.item_menu { top:1px !important; }
#recipe_content {
	border: 1px solid #AAAAAA;
    padding: 7px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.recipe-tab ul li {  
	background: none repeat scroll 0 0 #CCCCCC;
	border-left:1px #aaa solid;
	border-right:1px #aaa solid;
	border-top:1px #aaa solid;
    float: left;
    margin-right: 8px;
    padding: 10px 0;
    text-align: center;
    width: 70px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.recipe-tab ul li.selected {
	background:#fff;
	border-bottom:1px #fff solid;
}
#right #js_block_border_recipeblocks_newrecipes {  
	border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    clear: both;
    padding: 0 20px 20px;
}
#right #js_block_border_recipeblocks_newrecipes .title { display:none; }
#right #js_block_border_recipeblocks_highestratedrecipes {  
	border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    clear: both;
    padding: 0 20px 20px;
	display:none;
}

#right #js_block_border_recipeblocks_highestratedrecipes .title { display:none; }
#right #js_block_border_recipeblocks_randomrecipes {  
	border-bottom: 1px solid #AAAAAA;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    clear: both;
    padding: 0 20px 20px;
	display:none;
}
#right #js_block_border_recipeblocks_randomrecipes .title{ display:none; }
#right .block_listing_inline li a { font-size:13px; }
#right .block.show { display:block !important; }
#right .block.hide { display:none !important; }
.block_listing_inline ul li { margin-bottom:10px; }
.recipe-preparations {}
.recipe-preparations span { color:#3B5998; }
.recipe-contents { 
	border-top: 1px dashed #CCCCCC;
    margin: 20px 0 0;
    padding: 20px 0 0;
    position: relative;
}
.recipe-contents .recipe-desc { float:left; width:70%; }
.recipe-contents .recipe-desc .recipe-image { margin:0 10px 0 0; float:left; }
.recipe-contents .recipe-info { float:left; width:30%; }
.js_comment_feed_form { float:none; }
.js_comment_feed_textarea { height:80px !important; }